:root {
    --font-multiplier: 1;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-size: calc(1em * var(--font-multiplier));
}

.main-container {
    margin: 10px;
}

.button-raw-text {
    cursor: pointer;
    user-select: none;
}

#notification-container {
    display: flex;
    max-height: 100%;
    flex-direction: column-reverse;
    overflow-y: auto;
}

#notification-container::-webkit-scrollbar {
    display: none;
}

header {
    z-index: 1;
}

.pointer {
    cursor: pointer;
}